body{
	background-color: #e9e9e9;
}

#add-car{
	display: block;
	height: 50px;
	background-color: #fafafa;
	margin:0;
	/*margin-bottom: 20px;*/
}

#add-car h2{
	padding: 15px;
	font-size: 20px;
	color: #aaa;
	font-weight: 900px;
}


#page-content-wrapper{
	margin-left: 0;
}

.form-control{
	border-radius: 0;
}

#submit-button{
	background-color: #5DADE2;
	color: #ffffff;
	outline: none;
}

#submit-button:hover{
	color: #000;
}

#addcar-container{
	/*border: solid 2px #5DADE2;*/
	padding: 30px;
	background-color: #fff;
}

#addcar-container label{
	font-weight: 100;
	color:#999;
}

#file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#car-btn {
  width: 200px;
  margin-left: 2px;
}

#file-upload input[type=file] {
  font-size: 100px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

