body{
	background-color: #e9e9e9;
}

#allcars{
	display: block;
	height: 50px;
	background-color: #fafafa;
	margin:0;
	/*margin-bottom: 20px;*/
}

#allcars h2{
	padding: 15px;
	font-size: 20px;
	color: #aaa;
	font-weight: 900px;
}


#page-content-wrapper{
	margin-left: 0;
}

.form-control{
	border-radius: 0;
}

#submit-button{
	background-color: #5DADE2;
	color: #ffffff;
	outline: none;
}

#submit-button:hover{
	color: #000;
}

#allcars-container{
	/*border: solid 2px #5DADE2;*/
	padding: 30px;
	background-color: #fff;
	overflow: scroll;
	overflow-x: hidden;
	height: 100vh;
}

#allcars-container label{
	font-weight: 100;
	color:#999;
}

#file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#car-btn {
  width: 265px;
  margin-left: 2px;
}

#file-upload input[type=file] {
  font-size: 100px;
  width: 259px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#allcars-container .panel{
	/*border:none;*/

}

#allcars-container .panel-footer{
	border:none;
}

#allcars-container .panel-heading{
	border:none;
	padding: none;
}


#allcars-container .panel:hover{
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#allcars-container .panel-body{
	 margin-left: 0;
	 margin-right: 0;
	 min-height: 200px;
	 max-height: 200px;
	 
}

#allcars-container .panel-body img{
	 margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
}